<mat-drawer-container class="sidenav-container">
    <mat-drawer class="sidenav-container-drawer" mode="side" opened>
        <app-admin-menu></app-admin-menu>
    </mat-drawer>
    
    <mat-drawer-content class="sidenav-main-content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
