 
    <mat-card [class]="iMatCardPicture.class">
        <img mat-card-image [src]="iMatCardPicture.path" [alt]="iMatCardPicture.alt">
        <mat-card-header>
            <mat-card-title [class]="matCardTitleCssClass">{{iMatCardPicture.title}}</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <div [class]="matCardSeparatorCssClass"></div>
            <p>
                {{iMatCardPicture.description}} 
        </mat-card-content>
    </mat-card>

