/* You can add global styles to this file, and also import other style files */
/* Core CSS required for Ionic components to work properly */

html,
body {
   min-height: 100%;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;

}

/** place login on top of footer when resizing */
app-login {
   z-index: 10;
}

/** place login on top of footer when resizing */
app-registration {
   z-index: 10;
}

/** place login on top of footer when resizing */
app-pet-edit {
   z-index: 10;
}


/** Wrapper is an app.component.html style class
for dynamically setting body size on top of the footer 
See: 
https://stackoverflow.com/questions/17521178/css-position-relative-stick-to-bottom
*/
.wrapper {
   min-height: calc( 100vh - 6em );
 }


td,
th {
   padding: 1rem !important;
}

.padding-left-right {
   padding-left: 2rem;
   padding-right: 2rem;
}

/** Active link color */
li.nav-item.active>a {
   color: darkred;
}

.row-higher {
   height: 5em;
   vertical-align: bottom;
}

.top-padding {
   padding-top: 2rem;
}

.bg-colored {
   background-color: goldenrod !important;
}

/** login and registration form custom style */
.form-container {
   width: 30rem !important;
   min-width: 15em;
   white-space: normal;
}

/** contact form custom style */
.form-container-contact{
   max-width: 50rem !important;
   min-width: 15em;
   white-space: normal;
}

/** contact form message box */
#message{
   max-height: 100rem;
}
/** table custom style */
.table-container {
   width: 40rem !important;
   min-width: 15em;
   white-space: normal;
}

/** table custom style, if you want a wider table */
.table-container-wider {
   max-width: 55rem !important;
   min-width: 15em;
   white-space: normal;
}


/** Not to let the footer to be seen through while under the form */
form {
   background-color: white;
   opacity: 1;
}



.form-control {
   font-size: 14px !important;
   line-height: 2 !important;
}


/** Container that centers page content (for diff. pages) */
.centered-container {
   display: flex;
   flex-direction: column !important;
   justify-content: center;
   align-items: center;
   margin-top:3rem;
   gap: 3rem;

}

/** Carousel objects container component */
#app-carousel-items {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   flex-wrap: wrap;
   margin: 0 0 3rem 0;
}

/** Second carousel object */
#second-carousel {
   margin-top: 10rem;
}

/** Carousel component's inner container */
.carousel-container {
   background-color: antiquewhite;
   box-shadow: 2em 2em 2em 1em #888888;
   padding-bottom: 1em;
   width: 25rem;
}

/** *Carousel item heading text*/
.carousel-heading {
   /*color: rgb(79, 43, 17);*/
   font-family: roboto, sans-serif !important;
   letter-spacing: -0.0125em !important;
   line-height:32px !important;
   font-size:20px !important;
   font-weight: 500 !important;
   color: #212529 !important;
   margin-left:0.8em !important;
}

.carousel-body {
   align-items: center;
   width: 96%;
}


.mat-cards-outer-container{
   width: 100%;
   
}

/** On page where mat-card is nested */
.mat-card-outer-container{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   flex-wrap: wrap;
}

/** On page where mat-card is nested */
.mat-card-header-container{
   margin: 3rem 0 3rem 0;
}

.navbar-toggler{
   margin-right: 0.7rem !important;
}

/** Admin page sidenav container*/
.sidenav-container {
   width: 100%;
   height: 90vh;   
 }

 /** Admin page sidenav container main (right) part*/
 .sidenav-main-content{
   background-color: white;
 }

 /** Admin page sidenav container drawer (left) part*/
 .sidenav-container-drawer{
   width: 10rem;
 }

 /** Admin page sidenav drawer content */
 .admin-navbar{
   margin-top:2rem !important;
 }

 .div-centered{
   display: flex;
   flex-direction: row;
   align-items: center;
 }
/** div style for image upload button (used in pets.component, pet-picture.component)*/
.image-upload-button{
   max-height: 25px;
}

/** image preview - image preview in pets.component */
.preview{
   max-height: 80px;
   margin:0.5rem;
}
/** image preview - image preview container in pets.component */
.preview-container{
   display: flex;
   justify-content: center;
}

/** */
.pet-preview{
   max-height:30px;
}

@media screen and (max-width: 359px) {

   td,
   th,
   input,
   .form-control {
      font-size: .75rem !important;
   }

   div {
      font-size: .80rem !important;
   }

   h1 {
      font-size: .90rem !important;
   }

   /** login, reg-form and tabe buttons custom size 
   (it is bootstrap .btn class) */
   .btn {
      --bs-btn-font-size: .75rem !important;
      --bs-btn-line-height: 0.80 !important;
   }

   /** Carousel objects container component */
   #app-carousel-items {
      gap: 5px;
      margin: 0 0 0 0 !important;
   }

   .carousel-heading {
      font-size: 0.7rem !important;
   }

}


/** mobile view */
@media screen and (max-width: 430px) {

   td,
   th {
      padding: 5px !important;
   }

   /** Top navigation (leave small space btwn text and left side */
   #navbarNav {
      padding-left: 5px;
   }

   /** hide footer in mobile view*/
   app-footer {
      visibility: hidden;
   }

   /** table, login and registration form custom style */
   .table-container,
   .form-container {
      width: 100% !important;
   }

   /** Carousel component's inner container */
   .carousel-container {
      width: 95%;
   }

   /** Carousel objects container component */
   #app-carousel-items {
      gap: 1rem;
      margin: 0 1rem 0 1rem !important;
   }

   .carousel-heading {
      font-size: 1rem !important;
   }

}

@media screen and (max-width: 575.98px) {

}

@media screen and (max-width: 767.98px) {

   /** pets table page custom style */
   .table-container {
      width: 100% !important;
   }

      /** hide footer in smaller screen */
      app-footer {
         visibility: hidden;
      }
}

@media screen and (max-width: 991.98px) {

   /** Top navigation (leave small space btwn text and left side */
   #navbarNav {
      padding-left: 10px;
   }

   #second-carousel {
      margin-top: 0rem;
   }
}