<div class="container-fluid table-container-wider mt-4">
    <h1>Pet Clinics </h1>
    <div class="">
        <table class="table ">
            <thead>
                <tr class="">
                    <th hidden>
                        Id
                    </th>
                    <th class="">
                        Name
                    </th>
                    <th colspan="2">
                        Address
                    
                    </th>
                    <th colspan="2">
                        Phone
                    </th>
                    <th class="">
                        Clinic info
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let petClinic of petClinics">
                    <td hidden>
                        {{petClinic.id}}
                    </td>
                    <td>
                        {{petClinic.petClinicName}}
                    </td>
                    <td *ngFor ="let address of petClinic.petClinicAddresses! | slice:0:2;" [attr.colspan]="changeColspan(petClinic.petClinicAddresses!)">
                        {{address.city}}, 
                        {{address.street}}
                    </td>
                    <td *ngFor ="let phone of petClinic.petClinicPhones! | slice:0:2;" [attr.colspan]="changeColspan(petClinic.petClinicPhones!)">
                        {{phone.phoneNumber}} 
                    </td>

                    <td>
                        <a class="btn btn-success" routerLink="/info/{{petClinic.id}}">See info</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>