<div class="container-fluid table-container mt-4">
  <h1>Edit pets: </h1>
  <div class="">
    <div *ngIf="this.errorMessage" class="alert alert-danger">{{this.errorMessage}}</div>
    <table class="table table-striped table-sm table-sm-responsive text-center">
      <thead>
        <tr class="">
          <th>
            Id
          </th>
          <th class="col-3">
            Name
          </th>
          <th class="col-3">
            Pet type
          </th>
          <th class="col-3">
            Owner
          </th>
          <th class="col-3">
            Picture
          </th>
          <th class="">
            Edit
          </th>
          <th class="">
            Delete
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pet of petsWithUser" class="">
          <td>
            {{pet.id}}
          </td>
          <td>
            {{pet.name}}
          </td>
          <td>
            {{pet.petType}}
          </td>
          <td>
            {{pet.username}}
          </td>
          <td *ngIf="imageInfo" class="align-middle">
            <img src="{{pet.picture?.url}}" class="pet-preview border img-thumbnail" />
          </td>
          <td>
            <a class="btn btn-primary" routerLink="/adminedit/{{pet.id}}">Edit</a>
          </td>
          <td>
            <button class="btn btn-danger" (click)="onDelete(pet)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button class="btn btn-primary" (click)="toggleAddPet()">Add a new pet </button>

  <form *ngIf="showAddPet" #petAdminForm="ngForm" class="card mb-3 mt-3">
    
    <div class="mb-3">
      <div class="card-body">
        <div *ngIf="this.fileSizeError" class="alert alert-danger">{{this.fileSizeError}}</div>
        <div class="mb-3">
          <label for="name" class="form-label">
            Pet's name:
          </label>
          <br>
          <input type="text" name="name" id="name" class="form-control" #name ngModel required>
          <p [hidden]="(  petAdminForm.valid ||
                          petAdminForm.untouched||
                          petAdminForm.value.name !='')" class="alert alert-danger">
            Please fill in the pet's name!
          </p>
        </div>
        <div class="mb-3">
          <label for="petType" class="form-label">
            Pet's type:
          </label>
          <br>
          <input type="text" name="petType" id="petType" class="form-control" [(ngModel)]="pet.petType" #petType="ngModel">
          <!--input type="text" name="petType" id="petType" class="form-control" #petType ngModel-->
          <div *ngIf="petType.invalid && (petType.dirty || petType.touched)" class="alert alert-danger">
            Please fill in pet's type!
          </div>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">
            Select owner for the pet:
          </label>
          <select (change)="getOwnerForPet()" class="form-select" name="username" id="username"
            aria-label="Select username" #username [(ngModel)]="selectedUser">
            <option [ngValue]="thisSelectedUser" *ngFor="let thisSelectedUser of users">{{thisSelectedUser.username}}</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="petImage" class="btn btn-outline-success form-control">            
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
                <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
              </svg>
              Select picture            
          </label>

          <input type="file" name="petImage" id="petImage" accept="image/*" class="form-control"
                placeholder="Choose file" (change)="selectFile($event)" style="display : none" #petImage ngModel>
        </div>
        <div *ngIf="preview" class="mb-3 preview-container">
          <img [src]="preview" class="preview" />
        </div>      

        <div class="form-group mb-2">
          <button class="btn btn-primary form-control" (click)="onAdd(name.value, petType.value); 
              name.value=''; pet.petType =''; username.value=''" [disabled]="petAdminForm.invalid">
            Add pet
          </button>
        </div>
      </div>
    </div>
  </form>
</div>