<div class="image-upload-button">
    <div *ngIf="!isPictureAdded">

        <div class="mb-5">
            <label for="petImage" class="form-label">
                
                Select picture
            </label>

            <input type="file" name="petImage" id="petImage" accept="image/*" class="form-control"
                placeholder="Choose file" (change)="selectFile($event)" style="display : none">
        </div>
    </div>

    <div *ngIf="isPictureAdded" class="card">
        <ul class="list-group list-group-flush">
            <li *ngIf="imageInfo" class="list-group-item">
                <img src="{{imageInfo.url}}" class="preview" />
            </li>
        </ul>
    </div>
</div>