<div class="ms-3" id="app-carousel-items">
        
        <app-carousel [iPictures]="picturesFirst" [headText]="headingTextFirst"
            [bootstrapButtonNext]="carouselButtonFirst" [showControls]="true" id="first-carousel"></app-carousel>

        <app-carousel [iPictures]="picturesSecond" [headText]="headingTextSecond"
            [bootstrapButtonNext]="carouselButtonSecond" [showControls]="false" id="second-carousel"></app-carousel>

        <app-carousel [iPictures]="picturesThird" [headText]="headingTextThird"
            [bootstrapButtonNext]="carouselButtonThird" [showControls]="false" id="third-carousel"></app-carousel>
</div>