<div class="container form-container mt-4">
  <h1 class="text-center">Login</h1>
  <div class="card">
    <div class="card-body">
      <div *ngIf="message" class="alert alert-success" role="alert">{{ message }}</div>
      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="row">
        <div class="mb-4">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required
            ngModel>
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" placeholder="Enter password" name="password"
            required ngModel>
        </div>
        <div class="mb-2">
          <button type="submit" class="btn btn-success form-control">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>