<div class="container form-container-contact mt-4 mb-3">
    <h1 class="text-center">Contact us</h1>
    <div class="card">
        <div class="card-body">
            <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="row">
                <div class="mb-4">
                    <label for="username" class="form-label col-form-label col-form-label-sm">Your name:</label>
                    <input type="text" class="form-control form-control-sm" id="username" placeholder="Enter username" name="username"
                        required minlength="1" [(ngModel)]="contact.name" #username="ngModel">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        Name is required!</div>
                </div>
                <div class="mb-4">
                    <label for="email" class="form-label col-form-label col-form-label-sm">Your e-mail:</label>
                    <input type="email" class="form-control form-control-sm" id="email" placeholder="Enter email" name="email" required
                        minlength="3" [(ngModel)]="contact.email" #email="ngModel" email>
                    <div class="error" *ngIf="email.touched">
                        <div *ngIf="email.errors?.['required']" class="alert alert-danger">Email is required!</div>
                        <div *ngIf="email.errors?.['email']" class="alert alert-danger">Not a valid email!</div>
                    </div>
                </div>
                <div class="mb-4">
                    <label for="topic" class="form-label col-form-label col-form-label-sm">Topic:</label>
                    <input type="text" class="form-control form-control-sm" id="topic" placeholder="Enter topic" name="topic" 
                        required minlength="2" [(ngModel)]="contact.topic" #topic="ngModel">
                    <div *ngIf="topic.invalid && (topic.dirty || topic.touched)" class="alert alert-danger">
                        Topic is required!
                    </div>
                </div>
                <div class="mb-4">
                    <label for="message" class="form-label col-form-label col-form-label-sm">Message:</label>
                    <textarea class="form-control form-control-sm" id="message" placeholder="Your message here" name="message" 
                        required minlength="5" [(ngModel)]="contact.message" #message="ngModel"></textarea>
                        <div *ngIf="message.invalid && (message.dirty || message.touched)" class="alert alert-danger">
                            Minimum length 5 characters!
                        </div>
                </div>
                <div class="mb-2">
                    <button type="submit" class="btn btn-success form-control" [disabled]="!contactForm.valid">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>