<nav class="nav flex-column admin-navbar navbar-light">
    <ul class="navbar-nav">
        <li class="nav-item fs-6 ms-3 mb-2" [routerLinkActive]="['active']">
            <a class="nav-link" aria-current="page" [routerLink]="['petadmin']">Edit pets</a>
        </li>
        <li class="nav-item fs-6 ms-3 mb-2" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['/home']">Edit users</a>
        </li>
    </ul>
</nav>