<form #petEditAdminForm="ngForm" (ngSubmit)="onEdit()" class="mb-3">
    <div *ngIf="pet" class="form-group form-container mt-4 container">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
        <h1 class="text-center">Edit the pet info</h1>
        <div class="card">
            <div class="card-body">
                <div class="card-text text-danger-emphasis">
                    You are editing: {{pet.id}}. {{pet.name}} {{pet.petType}}
                </div><br>
                <div class="mb-4">
                    <label for="name">Name: </label><br>
                    <input type="text" class="form-control" id="name" [(ngModel)]="pet.name" name="petname">
                </div>
                <div class="mb-4">
                    <label for="petType">Pet type: </label><br>
                    <input type="text" class="form-control" id="petType" [(ngModel)]="pet.petType" name="petType">
                </div>
                <label for="username" class="form-label">
                    Select owner for the pet:
                </label>
                <select (change)="getOwnerForPet()" class="form-select mb-4" name="username" id="username"
                    aria-label="Select username" [(ngModel)]="selectedUser" #username="ngModel">
                    <option [ngValue]="thisSelectedUser" *ngFor="let thisSelectedUser of users">
                        {{thisSelectedUser.username}}</option>
                </select>
                <div *ngIf="username.invalid" class="alert alert-danger">
                    Please select a user!
                </div>
                <div class="mb-2">
                    <button (click)="goBack()" class="btn btn-secondary form-control">Cancel</button>
                    &nbsp;
                    <button type="submit" class="btn btn-primary form-control"
                        [disabled]="petEditAdminForm.invalid">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>