<div class="mat-cards-outer-container">
    <div class="mat-card-header-container text-center">
            <h1 class="">Team</h1>
            Over two years of furry x-perience!
    </div>
    <div class="mat-card-outer-container">
        <app-matcard *ngFor="let matcard of matcards" [iMatCardPicture]="matcard" [matCardSeparatorCssClass]="spacer"
            [matCardTitleCssClass]="matTitle"></app-matcard>
    </div>
</div>