<!-- Reusable carousel component-->
<ng-container>
    <div class="carousel-container justify-content-center d-flex rounded-2">
        <div class="carousel-body d-flex flex-column mt-2">

            <div id="carouselExample" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                    <div [class]="picture.class" *ngFor="let picture of iPictures">
                        <img [src]="picture.path" [alt]="picture.alt" class="d-block w-100 opacity-100 rounded-2">
                    </div>
                </div>
                <ng-container *ngIf="showControls">
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button"  data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </ng-container>
                <div class="mt-3">
                    <h1 class="carousel-heading">{{headText?.text}} </h1>
                </div>
            </div>
        </div>
    </div>
</ng-container>