<div *ngIf="pet" class="form-group form-container mt-4 container">
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{ errorMessage }}</div>
    <h1 class="text-center">Edit my pet info</h1>
    <div class="card">
        <div class="card-body">
            <div class="card-text text-danger-emphasis">I am editing: {{pet.id}}. {{pet.name}} {{pet.petType}}</div><br>
            <div class="mb-4">
                <label for="name">Name: </label><br>
                <input type="text" class="form-control" id="name"
                    [(ngModel)]="pet.name"><!--FormsModule needs to be imported in app.module.ts-->
            </div>
            <div class="mb-4">
                <label for="petType">Pet type: </label><br>
                <input type="text" class="form-control" id="petType" [(ngModel)]="pet.petType">
            </div>
            <div class="mb-2">
                <button (click)="goBack()" class="btn btn-secondary form-control">Cancel</button>
                &nbsp;
                <button (click)="onSave()" class="btn btn-success form-control">Save</button>
            </div>
        </div>
    </div>
</div>